* {
  padding:0;
  margin:0;
}


/* .CoinTab{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background:${props=>props.theme.primary};
  border: 0.5px solid gray;
  margin:1rem;
  border-radius:8px;
  color:white;
}

.CoinHeader{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content:space-around;
  flex-direction:row;
  border: 1px solid gray;
}

.CoinListWrapper{
  display: grid;
  justify-content:space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  width: 100%;
}

.CoinScrollEnabler{
  height:30vh;
  overflow:scroll;
}

.Green{
  color:green;
}

.Red{
  color:red;
} */

.Green{
  color:green;
}

.Red{
  color:red;
}

.OrganizeCharts{
  display:flex;
  flex-direction:row-reverse;
  justify-content: center;
  align-items: center;
  width:90%;
}

.ChartWrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:1rem;
}

.Container{
  height:100vh
}

